@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-orange-50;
  padding: 0;
  margin: 0;
  font-family: "Neue Montreal", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}