.container {
    width: 90%;
    height: 140px;
    padding: 20px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoContainer {
    width: 100px;
}

.logoContainer img {
    height: 100%;
    width: auto;
}

.titleContainer {
    height: 60%;
}

.titleContainer img {
    height: 100%;
    width: auto;
}